.sidebar{

    position:fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    display: flex;
    height: 100vh;
    background:#031627;
    width: 75px;
    ///////
    display: none;
    &__open{

        &-button{
            padding: 20px 32px 20px 28px;
        }
    }
    &__button{
        width: 49px;
        padding: 15px 10px 15px 15px;
        margin-left: 13px;
        margin-right: 13px;
        border-bottom: 1px solid rgba(104, 144, 179, 0.17);
        img{
            width: 15px;
        }

    }

///temp class for checkout active ref

    &__category:active{
        background-color:#f8fafb;
    }

    &__category:hover .dropdown-menu{display: block;}
    
////

    &__logo-small{
        width: 75px;
        height: 71px;
        background-color: #0a7fff;
        padding: 27px 18.4px 26px 18px;

        img{
            width: 39px;
            height:18px ;
        }
    }

    &__category{
        height: 46px;
        
        img{
            width: 15px;
        }
    }

    &__category_active{
        background-color:#f8fafb;

    }
}

.dropdown-menu{
    position: absolute;
    z-index: 500;
    top: 71px;
    left: 75px;
    color: #fff;
    width: 240px;
    height: 100vh;
    background-color: #031627;
    display: none;

    .content{
        margin: 0px 10px;
        padding-top: 13px;
        padding-left: 9px;
        width: 220px;
        height: 45px;
        font-size: 14px;
        line-height: 1.43;
        color: #b6bfca;
        border-bottom: 1px solid rgba(104, 144, 179, 0.17);  
    }

    .content:hover{
        text-decoration: underline;
    }
}