
@import "global/fonts";
@import "global/variables";
@import "global/items";
@import "global/reset";
@import "global/typography";
@import "global/ui";
@import "./components/header.scss";
@import "./components/sidebar.scss";
@import "./components/carousel.scss";
@import "./components/right-box-template.scss";
@import "./components/stories.scss";
@import "./components/videos.scss";
@import "./components/congrats.scss";
@import "./components/calendar.scss";


.content-wrapper{
    display: flex;
    justify-content: center;
    padding-left: 74px;
    padding-top: 20px;
}

.right-content{
    display: flex;
    flex-direction: column;
}

.left-content{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.vacansies{
    display: flex;
    align-items:center;
    padding-left: 25px;
    background: url('../images/open-positions-bg.png') no-repeat;
    width: 298px;
    height: 199px;

    &__text{
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 34px;
        font-weight: 900;
        line-height: normal;
        color: #ffffff;
    }
}

.photos{

    &__image{
        margin: 20px 20px 33px 20px;
    }

    &__share{
        width: 202px;
        margin: 0 auto;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px #0d7dff;
        padding: 12px 0px 9px 0px;
        margin-bottom: 5px;

        &-text{
            font-size: 13px;
            font-weight: 900;
            color: #0d7dff;
            margin-right: 13px;
        }

        &-arrow{
            width: 17px;
            height: 12px;
        }
    }
}


.kc{
    display: flex;
    align-items:center;
    padding-left: 25px;
    background: url('../images/kc-bg.png') no-repeat;
    width: 298px;
    height: 199px;

    &__text{
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 34px;
        font-weight: 900;
        line-height: normal;
        color: #ffffff;
    }
}