@import "global/fonts";
@import "global/variables";
@import "global/items";
@import "global/reset";
@import "global/typography";
@import "global/ui";
@import "./components/header.scss";
@import "./components/sidebar.scss";
@import "./components/carousel.scss";
@import "./components/carousel-mobile.scss";
@import "./components/right-box-template.scss";
@import "./components/story-item-mobile.scss";
@import "./components/stories.scss";
@import "./components/videos.scss";
@import "./components/congrats.scss";
@import "./components/calendar.scss";
@import "./components/vacancies.scss";
@import "./components/photos.scss";
@import "./components/kc.scss";
@import "./components/all-stories-button.scss";
@import "./components/button-load-more.scss";


.content-wrapper{
    display: flex;
    justify-content: center;
    padding-left: 74px;
    padding-top: 20px;
}

@media screen and (max-width: 767px){
    .content-wrapper{
        flex-direction: column;
        .left-content{
            align-items: center;
        }
    }
}

.right-content{
    display: flex;
    flex-direction: column;
}

.left-content{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

@media screen and (max-width: 1360px){
    .left-content{
        margin-right: 0px;
        width: 390px;
    }
}

@media screen and (max-width: 767px){
    .left-content{
        margin-right: 0px;
        width: 100%;
    }
}


@media screen and (max-width: 767px){
    .right-content{
        width: 100%;
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px){
    .content-wrapper{
        width: 100%;
        padding-left: 0px;
    }
}

@media screen and (max-width: 450px){
    .content-wrapper{
        padding-top: 0px;
    }
}


// @media screen and (max-width:1360px){
//     .story-mobile{
//         display: block;
//         margin: 10px 0px;
//     }
// }

// @media screen and (max-width:1360px){
//     .stories__item{
//         display: none;
//     }
// }

// @media screen and (max-width:1360px){
//     .stories__container{
//         width: 330px;
//         display: flex;
//         flex-wrap: wrap;
//         flex-direction: row;
//         justify-content: space-around;
//     }
// }


